<html>
<head>
	<title>CRUD</title>
	<link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
</head>
	<body>
		<div>
			<a href="/">INICIO</a> |
			<a href="/users/add">AGREGAR USUARIO</a> |
			<a href="/users">LISTA DE USUARIOS</a>
		</div>	
		<h1><%= title %></h1>
